#main-content {
	width: 960px;
	margin: auto;
	padding-top:20px;
}
.sider-bar{
	width: 220px;
	float: left;
}

.sider-box{
	background: url(../images/title-bg.jpg) 0 0 repeat-x;
	border: 1px solid #cacaca;
	margin-top: 10px;
}

.sider-box li, .hot-topic-more{
	display: block;
	height: 18px;
	border-bottom: 1px solid #cacaca;
	font-size: 16px;
	color: #9ea7b3;
	padding: 16px;
}

.sider-box li:hover, .hot-topic-more:hover{
	background-color: #eaeaea;
}

.active-topic{
	background-color: #eaeaea;
}

.sider-box li img{
	margin-right: 5px;
}
.sider-box h1{
	height: 20px;
	text-align: center;
	font-size: 20px;
	padding: 16px;
	color: #5e6d81;
}

.sider-box p{
	margin: 15px 10px;
	color: #9ea7b3;
	font-size: 12px;
	text-indent: 1em;
}

.sider-box .contact{
	text-indent: 0;
}

.sider-box .contact{
	text-indent: 0;
}

.sider-box .date{
	text-indent: 0;
	margin-top: 0;
	text-align: right;
}
.main{
	width: 720px;
	height: 900px;
	float: right;
}

#status{
	margin-top: 10px;
	height: 32px;
	width: 720px;
	background: url(../images/status-bg.gif) 0 0 repeat-x;
	border: 1px solid #cacaca;
}

#status span{
	display: block;
	height: 18px;
	font-size: 12px;
	color: #444444;
	float: left;
	padding: 7px;
}
#status .status-arrow{
	background: url(../images/status-item.gif) 0 0 no-repeat;
	width: 27px;
	padding: 0;
	height: 32px;
}

#status input{
	border: 1px solid;
	border-color: #848484 #E0E0E0 #E0E0E0 #848484;
	height: 22px;
	margin-right: 10px;
	margin-top: 4px;
	color: #999999;
}
#search-topic {
	float: right;
}

#topics{
	margin-top: 10px;
	width: 720px;
	border: 1px solid #cacaca;
}

#topics-header{
	width: 720px;
	height: 37px;
	background: url(../images/topics-header-bg.gif) 0 0 repeat-x;
}

.topic-item{
	height: 14px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #c2d5e3;
	font-size: 12px;
	padding: 18px 0 18px 0;
}
.topic-type{
	width: 40px;
	color: #007cd5;
}
.topic-title{
	width: 620px;
}
.topic-view{
	width: 40px;
	color: #336699;
}

.pg{
	margin-top: 10px;
	float: right;
	font-size: 12px;
}
.pg a, .pg strong {
	float: left;
	display: inline;
	margin-left: 4px;
	padding: 1px 8px;
	height: 22px;
	border: 1px solid;
	border-color: #e3e4dd;
	background-color: #FFF;
	background-repeat: no-repeat;
	color: #8f8f8f;
	overflow: hidden;
	text-decoration: none;
	
}

.pg strong {
	background-color: #6a7780;
	color: white;
}

.pg a:hover {
	background-color: #6a7780;
	color: white;
}

#post-editor img{
	width: 720px;
	margin-top: 10px;
}