/*--------- Global properties  ---------*/
html, body {
	width:100%; padding:0; margin:0;
}
body {
	font: 14px/20px 'LatoRegular' , Arial, Helvetica, sans-serif;
	color: #343b3c;
}
a {
	text-decoration:none; cursor:pointer;text-decoration:none; 
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}

/*--------- header ---------*/
.header{ 
	width:940px;
	background:url(../images/bg-header.gif) 0 0 repeat; border-bottom:#fff 1px solid;
	text-align: center;
}
.header>div {
	width:100%;  
	padding-bottom:47px;
}
.header-wrap h1{
	float: left;
	margin:16px 0px 0 10px;
	position:relative;
	display:inline-block; z-index:1111;
}
nav {
	display:inline-block;
	z-index:1111;
	position:relative;
	float:right;
}
ul.menu {margin:28px 10px 0px 0px; display:inline-block;}
ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 48px;}
ul.menu li:hover, ul.menu li.current {}
ul.menu li a {font-size:25px; line-height:30px; color:#fff; display:inline-block; padding:10px;}
ul.menu li a:hover , ul.menu li.current a { background-color:#b43129; }
.header-container{
	background:url(../images/bg-header.gif) 0 0 repeat; border-bottom:#fff 1px solid;
	width:100%;  padding-bottom:20px;
	text-align: center;
}

/*--------- content ---------*/
#content {width:945px;padding:0px 0px 48px 0; background:#fff;margin: 0 auto}


/*--------- footer ---------*/
footer {width:100%; overflow:hidden; margin:0 auto; padding:31px 0px 20px 0; 
background:url(../images/bg-footer.gif) ;color:#fff;margin-top: 50px}
footer p {float:left; text-align:center; width:580px; }
.soc-icons {overflow:hidden; float:right; margin:8px 73px 0 0;}
.soc-icons span {display:inline-block; float:left;  color:#fff; font-size:20px; line-height:27px; margin-right:17px;}
.soc-icons a {display:inline-block; float:left; margin-right:19px;}
.soc-icons a:hover img {opacity:0.7;}


/*--------- our servies list-white ---------*/
.list-white {
	width: 800px;
	background: url(../images/bg-white-center2.gif) repeat-y;
	float: left;
}
.list-white .holder {
	background: url(../images/bg-white-top2.gif) no-repeat;
	overflow: auto;
	zoom:1;
}
.list-white .frame {
	background: url(../images/bg-white-bottom2.gif) no-repeat 0 100%;
	overflow: hidden;
	padding: 36px 0 14px;
}
.list-white h2 {
	margin: 0 0 13px 160px;
	font: 24px/26px 'LatoBold' , Arial, Helvetica, sans-serif;
	color: #314051;
}
.list-white ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 16px;
	line-height: 18px;
	color: #c50b0b;
}
.list-white ul li {
	border-top: 1px solid #e2f1f7;
	padding: 10px 23px 6px 13px;
	overflow: hidden;
	height: 34px;
}
.list-white ul li .ico1 {
	background: url(../images/sprite.png) no-repeat -5px -3px;
	float: left;
	width: 46px;
	height: 33px;
	margin: -6px 35px 0 0;
}
.list-white ul li a {
	color: #c50b0b;
	cursor: pointer;
}
.list-white ul li .ico2 {
	background: url(../images/sprite.png) no-repeat -16px -53px;
	float: left;
	width: 26px;
	height: 30px;
	margin: -5px 44px 1px 11px;
}
.list-white ul li .ico3 {
	background: url(../images/sprite.png) no-repeat -10px -95px;
	float: left;
	width: 38px;
	height: 38px;
	margin: -11px 37px 0 5px;
}
.list-white ul li .go {
	background: url(../images/sprite.png) no-repeat -8px -469px;
	float: right;
	width: 18px;
	height: 18px;
}
.list-white ul li .ico4 {
	background: url(../images/sprite.png) no-repeat -5px -147px;
	float: left;
	width: 46px;
	height: 34px;
	margin: -8px 34px 0 0;
}
.list-white ul li span {
	overflow: hidden;
	text-indent: -9999px;
}

/*--------- our address list-gray ---------*/

#location{
	width:462px;
	height:195px;
}
.list-gray {
	width: 462px;
	background: url(../images/bg-gray-center.gif) repeat-y;
	float: left;
	margin: 14px 0 0 20px;
}
.list-gray .holder {
	background: url(../images/bg-gray-top.gif) no-repeat;
}
.list-gray .frame {
	background: url(../images/bg-gray-bottom.gif) no-repeat 0 100%;
	overflow: hidden;
	padding: 22px 0 0;
}
.list-gray h2 {
	margin: 0 0 14px 22px;
	font: 24px/26px 'LatoBold' , Arial, Helvetica, sans-serif;
	color: #314051;
}

/*--------- reviews ---------*/
.HomeComments {
	width: 620px;
	float: left;
	margin-top: 40px;
}
.testimonials {
	overflow: hidden;
	margin: 0 -15px 0 0;
	text-align: center;
}
.testimonials ul {
	margin: 0 0 -6px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: left;
}
#content h3 {
	margin: 0 0 29px;
	font: 24px/29px 'LatoRegular' , Arial, Helvetica, sans-serif;
	color: #0f151d;
	font-weight: normal;
	text-align: center;
	padding: 0 20px;
}
.testimonials ul li {
	float: left;
	height: 130px;
	width: 285px;
	margin: 0 10px 10px 0;
	padding: 2px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #F9F9F9;
}
.testimonials ul li .title, .customerStory-reviews li .title {
	color: #C50B0B;
	font-size: 12px;
}
ul.customerStory-reviews .cnt {
	position: relative;
	background: #e2e4e8;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 5px;
	line-height: 1.3;
}
ul.customerStory-reviews .arrow {
	width: 16px;
	height: 21px;
	position: relative;
	z-index: 999;
	left: 22px;
}
ul.customerStory-reviews .cnt {
	position: relative;
	background: #e2e4e8;
	padding: 8px;
	margin-bottom: 0px;
	border-radius: 5px;
	line-height: 1.3;
}
ul.customerStory-reviews .user > div {
	line-height: 14px;
}
ul.customerStory-reviews .user {
	color: #CDCDCD;
}
ul.customerStory-reviews .user {
	margin-left: 45px;
	color: #CDCDCD;
}
.stars{
	margin-top: 4px;margin-left: 120px;
}

/*--------- commitment ---------*/
.ourCommitment {
	width: 280px;
	height: 433px;
	border: 1px solid #D7D7D7;
	float: right;
	padding: 20px;
	margin-top: 40px;
	position: relative;
	zoom: 1;
}

.ourCommitmentTitle {
	color: #304250;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	padding: 15px 0;
}
.ourCommitmentItem {
margin-top: 10px;
float: left;
font-size: 20px;
line-height: 1.2;
}
.signature {
	position: relative;
	left: 40px;
	top: 160px;
	font-size: 18px;
	zoom: 1;
	z-index: 999;
}
.header-wrap{
	width:940px; margin:0 auto;
	text-align: right;
}
.comments{
	height: 295px;
}

/*--------- ie png fix ---------*/
img, .png {
	position: relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}



.li-icon{
	float: left;
	margin-left: 25px;
}
.li-a{	
	float: left;
	margin-left: 75px;
	margin-top: 6px;
}

.peccancy-processing .information p {margin:20px 0px;}
.peccancy-processing .title {font-size:26px;text-align: center; line-height:40px; margin:0px 0px 40px 0px;}
.peccancy-processing .title h1 {border-bottom:1px solid gray; padding-bottom: 5px;}

.cleaner {clear:both;}
#sider {margin-top:20px;}

.sider-box a {color: rgb(158, 167, 179);}


#pager{
	margin-top: 10px;
	float: right;
	font-size: 12px;
}
#pager a, #pager strong {
	float: left;
	display: inline;
	margin-left: 4px;
	padding: 1px 8px;
	height: 22px;
	border: 1px solid;
	border-color: #e3e4dd;
	background-color: #FFF;
	background-repeat: no-repeat;
	color: #8f8f8f;
	overflow: hidden;
	text-decoration: none;
	line-height: 20px;
}

#pager strong {
	background-color: #6a7780;
	color: white;
}

#pager a:hover {
	background-color: #6a7780;
	color: white;
}
